<template lang="pug">
  div.component.app
    vue-header
    vue-main
</template>

<script>
  import Header from './Header.vue'
  import Main from './Main.vue'

  export default {
    components: {
      'vue-header': Header,
      'vue-main': Main,
    }
  }
</script>

<style lang="scss">

</style>
