<template lang="pug">
  article.component.article(:ref="id")
    <component :is="article.component" v-on:style="style"></component>
</template>

<script>
  export default {
    props: ['article', 'index'],
    computed: {
      id () { return 'index' + this.index }
    },
    methods: {
      style (args) {
        Object.entries(args||{}).forEach(e => {
          this.$refs[this.id].style[e[0]] = e[1]
        })
      }
    },
    mounted () { 
      this.$emit('mounted')
      this.$refs[this.id].style.backgroundColor = 
        this.$refs[this.id].style.backgroundColor || '#999999' 

      // let top = (this.index * 100) + 'vh'
      // this.$refs[this.id].style.top = top
      // this.$refs[this.id].dataset.top = top
    }
  }
</script>

<style lang="scss" scoped>
  article {
    width: 100%;
    padding-top: 4.5rem;
    z-index: -2;
    height: calc(100vh - 4.5em);
    min-height: calc(100vh - 4.5em);    
  }
</style>
