<template lang="pug">
  ul.contact.modal.component(:class='{float}',v-if='show') Contact information
    li
      a(href='mailto:roberto.tomas.cuentas@gmail.com')
        i.fa.fa-envelope-o(aria-hidden="true")
        span.wide-only &nbsp;roberto.tomas.cuentas@gmail.com
    li 
      a(href='https://www.linkedin.com/in/robert-collins-129b28b7/')
        i.fa.fa-linkedin(aria-hidden=true)
        | &nbsp;linkedin
    li
      a(href='//github.com/robbiemu')
        i.fa.fa-github(aria-hidden=true) 
        | &nbsp;github
</template>

<script>
  export default {
    data () {
      return {
        float: location.hash && (+location.hash.substring(1) > 2),
        show: location.hash && (+location.hash.substring(1) > 1),
        hasUpdated: false
      }
    },
    mounted () {
      let self = this
      window[Symbol.for('space.selfenrichment.portfolio')].scrollify.before = 
      function (e) {
        if(!self.hasUpdated) {
          self.hasUpdated = true
          $.scrollify.update()
        }
        switch(e) {
          case 0:
            self.show = false
            break
          case 1:
            self.show = true
            self.float = false
            break
          default:
            self.show = true
            self.float = true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  ul.contact {
    transition: all 0.66s linear;
    position: fixed;
    padding: 2rem;
    background-color: azure;
    border-radius: 0.25em;
    top: 66vh;
    right: 40vw;
    width: 10%;
    font-size: 2.25vw;
    z-index:1;

    .wide-only { display: none }
  }

  ul.contact.float {
    top: 0.5rem;
    padding: 0 2rem;
    display: flex;
    width: initial;
    li {
      margin-left: 1rem;
    }
    font-size: 1rem;

    @media only screen and (min-width : 768px) { /* Bootstrap 3 mobile breakpoint */
      right: 1rem;
      .wide-only { display: initial }
    }
  }
</style>
