<template lang="pug">
  header.component.header
    <vue-spinner :visible="!loaded" />
    <h1>Robert Collins</h1>
</template>

<script>
  import spinner from './spinner.vue'

  export default {
    data () {
      return {
        loaded: false
      }
    },
    components: {
      'vue-spinner': spinner
    },
    mounted () { //testing <spinner></spinner>
      let self = this
      self.loaded = true
    }
  }
</script>

<style lang="scss" scoped>
  header { z-index: 1 }
  h1 {
    font-size: 15.2vw;
    letter-spacing: 1.5vw;
    text-align: center;
  }
</style>
