<template lang="pug">
  main.component.main
    vue-contact
    vue-article-frame(v-for='(article, index) in articles' :article='article' :index='index' v-on:mounted='articleMounted')
</template>

<script>
  import ArticleFrame from './ArticleFrame.vue'
  import articles from './articles'
  import Contact from './Contact.vue'

  export default {
    data () {
      return { articles, outstanding: articles.length }
    },
    methods: {
      articleMounted () { 
        function mountedAll () {
          $.scrollify({
            section : ".component.article",
            easing: "easeOutExpo",
            setHeight: false,
            before: window[Symbol.for('space.selfenrichment.portfolio')]
              .scrollify.before,
            scrollSpeed: 1100
          });
        }
        return --this.outstanding? true: mountedAll() 
      }
    },
    components: {
      'vue-article-frame': ArticleFrame,
      'vue-contact': Contact
    },
    created () { // we can use a more safe/normal state stack. But for just one variable...
      window[Symbol.for('space.selfenrichment.portfolio')] = {
        scrollify: {
          before: () => {}
        }
      }
    },
    mounted () {
      function rem (count) { /* https://stackoverflow.com/questions/16089004/use-jquery-to-increase-width-of-container-by-10-rem#answer-24463352 */
        var unit = $('html').css('font-size');

        return (typeof count !== 'undefined' && count > 0)?
          (parseInt(unit) * count):
          parseInt(unit)
      }

      function isInView(elem){
        return $(elem).offset().top - $(window).scrollTop() < $(elem).height() ;
      }
      /* https://stackoverflow.com/questions/9880472/determine-distance-from-the-top-of-a-div-to-top-of-window-with-javascript */
      function getDistance(elem) {
        var scrollTop     = $(window).scrollTop(),
            elementOffset = $(elem).offset().top,
            distance      = (elementOffset - scrollTop);
        return distance
      }

      /* (modified) with idea from http://jsfiddle.net/apederson/z93R7/       */
      // Y axis scroll speed
      var velocity = 0.5;

      function update(){ 
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        $.scrollify.current().addClass('seen')
        $('.component.article').each(function() { 
          var $element = $(this);
          let p = 4.5 + 4.5 * (getDistance($element) / h)

          if(isInView($element) && $element.offset().top > window.scrollY) {
            $element.css('padding-top', p + 'em')
            //if(!$element.hasClass('seen'))
              //$.scrollify.update()
          } else {
            $element.css('padding-top', '4.5rem')
          }
        }); 
        $('.component.article').removeClass('seen')
        $.scrollify.current().addClass('seen')
      };

      $(window).smartscroll(update);

      const resize = () => $('article.component.article').css(
        'max-height', 
        (window.innerHeight - 4.5 * rem()) + 'px')

      $(window).resize(resize)
      resize()
    }
  }
</script>

<style lang="scss" scoped>
  main {
    position: absolute;
    top: 0;
    z-index: -3;
  }
  .seen {
    z-index: -1;
  }
</style>
