<template lang="pug">
  article.component.sample <!-- sub article -->
    figure.sample
      div.preview-frame(v-if='!loadRequested' @click='loadCodePen')
        img.preview(src='')
      vue-spinner(:visible='loadRequested && !loaded')
      div.sample(v-if="loadRequested")
      figcaption
        a.src {{title}}
        | &nbsp;on {{location}}, {{date}}
      p.description {{description}}
</template>

<script>
  
</script>

<style lang="scss">

</style>
