article.apa {
  display: flex;
  flex-direction:column;
  width: 8.5in;
  padding: 1in;
  margin-left: auto;
  margin-right: auto;
  
  cite::first-letter {
    margin-left: -0.5in;
  }
  cite {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    line-height: 2em; /* double-spacing */
    display: block;
    font-style: normal;
    margin-left: 0.5in;
  }
}
