.sample-number {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  line-height: 3em;
  text-align: center;
  mix-blend-mode: screen;
  background: rgba(255,255,255,0.5);
  color: rgba (0,0,0,.1);
  font-weight: 900;

  &.inverted {
    mix-blend-mode: multiply;
    background: rgba(0,0,0,0.5);
    color: rgba (255,255,255,1);  
  }
}