@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../media/BebasNeue Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../media/BebasNeue Book.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../media/BebasNeue Light.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../media/BebasNeue Regular.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../media/BebasNeue Thin.otf');
    font-weight: 100;
}

:root {
  font-size: 12pt;
  font-family: 'Bebas Neue', sans-serif;
}

body {
    height: 100vh;
}

h1 { font-size: 2.5rem; font-family: 'Bebas Neue', sans-serif; }
h2 { font-size: 2rem; font-family: 'Bebas Neue', sans-serif; }
h3 { font-size: 1.75rem; font-weight: 100; font-family: 'Bebas Neue', sans-serif; }
h4 { font-size: 1.5rem; font-family: 'Bebas Neue', sans-serif; }
h5 { font-size: 1.25rem; font-weight: 100; font-family: 'Bebas Neue', sans-serif; }
h6 { font-size: 1.1rem; font-family: 'Bebas Neue', sans-serif; }

ul {
	list-style: none
}
ul.dot {
	list-style: disc
}

p {
	font-family: Raleway, sans-serif;
}

/* http://maxdesign.com.au/articles/css-reset/ */

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

/* https://codepen.io/jonneal/pen/kptBs */
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}