<template lang="pug">
  div.component.article-apps-web-mobile
    h2 apps per target: 
    div.diptych
      section#Web
        h2 &nbsp;
          span.subtitle Web
        figure.web
          div.numbering-wrapper
            iframe(src="https://www.youtube.com/embed/Dzjd5m9SMww" frameborder="0" allowfullscreen)
            div.sample-number 2
          figcaption
            a(target="_blank" href="https://github.com/robbiemu/ioty") ioty configurator project
            | &nbsp;on github, Feb 2016
        p This project is an Internet of Things (ioT) package configurator demo. Here the shapes represent purchase criteria that would suggest different ioT devices. The company develops packages of devices for common criteria groups. A visual drag-and-drop interface to configure sale proposals for clients is envisioned. This is made complete with an administrative interface to add new iot Devices and packages. This project makes use of <a href="//vuejs.org">Vue</a>, <a href="//jquery.com">JQuery</a>, and <a href="//getbootstrap.com">Bootstrap</a>. The work is not styled because it is a demonstration of functionality for a proposal. The drag and drop functionality is a custom product. The SVG shapes are hand-coded. 
      section#Android
        h2 &nbsp;
          span.subtitle Android
        div.diptych
          div.numbering-wrapper
            a(rel="nofollow" href="https://github.com/robbiemu/Popular-Movies" target="_blank")
              img#android-alt.center(src="../../media/Popular-Movies-1.jpg")
            div.sample-number 3
          div.textual
            h3 
              a.android(href="https://github.com/robbiemu/Popular-Movies") Popular Movies
              | &nbsp;on github, completed April 2016
            p This project is a native Android application. It makes use of The Movie Database (TMDb) API to provide a selection of movie posters according to a criteria, such as top movies, recent releases, and more. Clicking on any one poster in the array produces a details page , providing access to trailers, average rating, and more. The app uses network caching to avoid hammering the API based on configuration changes, and has a sufficiently abstracted back-end that the SQLite database can be swapped out with another without changing the URI portion of the data layer. It also generates basic, custom SVG templates in case there is no movie poster available.
</template>

<script>
  export default {
    mounted () {
      $('a.android').hover(function() {
        $("#android-alt").attr("src", "../../media/Popular-Movies-2.jpg");
      }, function() {
        $("#android-alt").attr("src", "../../media/Popular-Movies-1.jpg");
      });

      this.$emit('style', { backgroundColor: '#aabbaa' })
      
      const resize = () => { 
        window.outerWidth < 1200? // Bootstrap recommended breakpoint: <tablets
          $('.component.article-apps-web-mobile').parent().addClass('article-apps-web-mobile'):
          $('.component.article-apps-web-mobile').parent().removeClass('article-apps-web-mobile')
      }
      resize()
      $(window).resize(resize)
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/cmst495.scss';

  .numbering-wrapper {
    position: relative;
  }

  .placeholder {
    width: 48vw;
    height: 100%;
    border-radius: 0.3em;
    border: solid thin grey;
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  iframe, figure.web {
    border-radius: 0.3rem;
  }

  .component.article-apps-web-mobile {
    display: flex;
    flex-direction: column;

    & > .diptych {
      display: flex
    }
  }

  #android-alt {            
    object-fit: contain;
  }

  section, .web {
    display: flex;
    flex-direction: column;
  }

  section .diptych {
    display: flex
  }

  @media only screen and (max-width : 768px) { /* Bootstrap max: >mobile */
    .component.article-apps-web-mobile > .diptych {  
      flex-direction: column;
    }

    section {
      .web {      
        align-items: center;
        .numbering-wrapper {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          max-height: 315px;
          max-width: 520px;
          iframe {
            width: 520px;
            height: 315px;
          }
        }
      }
      .diptych {        
        flex-direction: column;
        align-items: center;
        .numbering-wrapper {          
          display: flex;
          width: 48vw;
          #android-alt {            
            object-fit: contain;
            max-width: 98%;
          }
        }
      }
    }

  }

  @media only screen and (min-width : 768px) { /* Bootstrap max: mobile */
    h2 {
      margin: 0
    }
    #Web {
      .web {
        flex:1;
        margin:0;
        .numbering-wrapper {
          display: flex;
          flex: 1;
          iframe {
            flex: 1;
          }
        }
      }
    }
    #Android {
      .diptych > .numbering-wrapper {
        width: 21.5vw;
        margin: 0 1rem;
        max-height: 100%;
        #android-alt {
          max-width: 21.5vw
        }
      }
    }
  } 

  @media only screen and (min-width : 992px) { /* Bootstrap recommended: Medium Devices, Desktops */
    div.component > .diptych {
      max-width: 98vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }
</style>
<style lang="scss">
/* document-level non-scoped */
  article.article-apps-web-mobile {
    max-height: initial !important;
    padding-bottom: 4.5rem;
  }
</style>