<template lang="pug">
  div.component
    h2 {{title}} 
      span.subtitle {{sub}}
    div.text
      p {{text}}
    div.action
      p.advisio.small.center.bottom scroll down
      div
        span.chevron.bottom
</template>

<script>
  export default {
    data () {
      return   {
        title:'The last great full stack developer before AI prevails', 
        sub:'Portfolio', 
        text: 'Talented Developer and former artist with over five years of software and web development experience in a broad range of industries including web hosting, internet startups, public schools and design. Solid understanding of software development life cycles, UI/UX and design, changing web standards, and Agile methodology, with exposure to mobile development, games and gamification. Dedicated to continuously developing, implementing, and adopting new technologies to produce innovative applications. Recent certifications and education as I am returning to work in the field.'
      }
    },
    mounted () {
      this.$emit('style', { backgroundColor: '#fafafa' })
    }
  }
</script>

<style lang="scss" scoped>
  .component {
    padding: 14vw 2rem 2rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 14vw);
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  h2 {
    width: 100%;
    font-size: 3vw;
    & span {
      line-height: 3.45vw
    }
  }

  .text {
    margin-top: 5vh;
    flex:1;
    font-size: 1.75vw
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  .action {
  /*  height: 10em; */
    width: 10em;
    margin-bottom: 1em;
    align-self: flex-end;
  }

  .advisio {
    text-align: center;
    & + div {
      display: flex;
      justify-content: center;
    }
  }

  .chevron {
    font-size: 3rem;
    margin-right: 1/3 * 1em;    
  }
</style>
