<!-- basic template to make new articles from -->
<template lang="pug">
  div.component.credits
    h2 CREDITS 
    p This site was made with the following software:
    ul
      li Visual Studio Code
      li heroku (heroku is the service provider)
      li git (gitlab is the source maintainer and CI/CD host)
      li node
      li gulp, babel, autoprefixer
      li vueJS (but not the vue-cli)
      li koa2
      li jquery
      li font-awesome
    p.siteicon The site icon was inspired by the <a href="https://commons.wikimedia.org/wiki/File:CSS3_and_HTML5_logos_and_wordmarks.svg">CSS3 and html5</a> badges, which were clearly derrived from the w3c <a href="https://www.w3.org/html/logo/">HTML5</a> logo. Source files actually used as a starting point in the icon were all licensed for reuse with attribution:
    div.container
      article.apa
        cite [CSS3 Logo with custom yellow text]. (n.d.). Retrieved August 2, 2017, from <a href=https://jdwilson.ca/img/logos/css3.svg>https://jdwilson.ca/img/logos/css3.svg</a>
        cite [Material, flat application icon]. (n.d.). Retrieved August 2, 2017, from <a href="http://www.iconninja.com/files/676/25/71/web-webpage-window-browser-website-internet-icon.svg">http://www.iconninja.com/files/676/25/71/web-webpage-window-browser-website-internet-icon.svg</a>
        cite [Multiple devices]. (n.d.). Retrieved August 2, 2017, from <a href="https://mymusicanywhere.net/img/flat-icon/multiple_devices.svg">https://mymusicanywhere.net/img/flat-icon/multiple_devices.svg</a>
</template>

<script>
  export default {
    mounted () {
      this.$emit('style', { backgroundColor: '#ffffff' })
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/apa.scss';

  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  .inset, .inset > * {
    padding: 0;
    margin: 0;
    max-width: 80vw;
    max-height: 80vh;
  }

  .siteicon {
    line-height: 2em;
    margin-top: 1in;
  }

  @media only screen and (min-width : 992px) {
    .component > :not(h2) {
      max-width: 98vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }
</style>
