<template lang="pug">
  div.component
    h2 a full spectrum of clean code
      span.subtitle FE/BE Dev
    p.text The scope of my work spans from the user experience of front end, through the back-end. Because the intent of these samples is to deomonstrate aspects of code less related to user experience, samples per se are not provided. What follows instead, links to the code. The front-end example shows a complete Simon game. The middle example uses webtasks (Auth0 uses these a lot as micro-services), and shows the adoption of an ad hoc testing framework. Although some novel work was done with webtasks\, the outcome simply pulls an image from a webAPI. I chose to show a python/django back-end, to demonstrate that my back-end experience is sufficient for me to 'wing-it' with unfamiliar web back-ends like django. I could just as easily supplied JAVA/Spring back-ends or node koa/express back-ends.
    div.inset
      p
        a(href="//codepen.io/robertotomas/pen/xRBXqY") Front end
        span &nbsp;
        a simon game with html5/scss, jquery, lodash
      p
        a(href="//github.com/robbiemu/auth0-webtask") Custom logic
        span &nbsp;
        a webhack written in with webtask, featuring custom testing, node/babel, axios
      p
        a(href="//github.com/robbiemu/personDJV") Back end
        span &nbsp;
        a demo django backend with vue/vuetify front end
</template>

<script>
  export default {
    mounted () {
      this.$emit('style', { backgroundColor: '#fffa78' })
    }
  }
</script>

<style lang="scss" scoped>
  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  h2 {
    font-size: 6vw;
    margin-bottom: 1vw;
    span {
      line-height: 0.9em;
    }
  }

  .text {
    font-size: 2vw;
  }

  .inset, .inset > * {
    padding: 0;
    max-width: 80vw;
    max-height: 80vh;
  }

  .inset {
    margin: 0 auto;
    a {
      color: black;
    }
  }

  @media only screen and (min-width : 992px) {
    .component > :not(h2) {
      max-width: 98vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }
</style>
