<!-- basic template to make new articles from -->
<template lang="pug">
  div.component
    h2 Reflections
    p.text I am a developer who has taken some time to explore visual art and other life experiences, and am returning to web development; hopefully as a front end/UX developer, full stack developer, or hybrid developer. Either designing a product, feature or component directly or working with production/design is important for presentation-layer developers. Hopefully this work showcases good visuals, clear and often SOLID code, and presents them in state-of-the-art technologies: which in my opinion Gitlab with CI, CD with ruby dpl to Heroku, and git versioned push triggers demonstrate. I am happy to satisfy any curiosity about how these pages were accomplished in the production and source maintenance/CI/CD host.
</template>

<script>
  export default {
    mounted () {
      this.$emit('style', { backgroundColor: '#000000' })
    }
  }
</script>

<style lang="scss" scoped>
  .component {
    color: white;
    @media only screen and (min-width : 992px) {
      .component > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }
  
  h2 {
    font-size: 24.5vw;
    margin-bottom: 1vw;
  }

  .text {
    font-size: 2vw;
  }

  .inset, .inset > * {
    padding: 0;
    margin: 0;
    max-width: 80vw;
    max-height: 80vh;
  }
</style>
