<!-- basic template to make new articles from -->
<template lang="pug">
  div.component.methodology
    h2 Methodology
      span.subtitle Agile, ADDIE
    p.text I have worked primarily independently, but I have some experience in agile methodology: I worked for 1 year in a shop with about half a dozen web developers, practicing pair programming and other agile methodologies. I also have worked as a system administrator for a less than a year in a Scrum team. This sample is an essay reflection on the state of product development patterns in instructional design and software development. Noting the lack of unity in scholarly sources about how to resolve ADDIE with Agile methodology, it notes what seems to be an obvious path at the current moment.
    div.numbering-wrapper
      iframe.methodology(src="https://onedrive.live.com/embed?cid=B00870E59302A38D&resid=B00870E59302A38D%21374997&authkey=APHwwnl8TvxEKsc&em=2" :width="getVWinPx(80)" :height="getVHinPx(70)" scrolling="no")
      div.sample-number.inverted 7
</template>

<script>
  export default {
    methods: {
      getVHinPx: function getVHinPx(x) {
        return x / 100 * window.innerHeight;
      },
      getVWinPx: function (x) {
        return x / 100 * window.innerWidth;      
      }
    },
    mounted () {
      $(window).on('resize', () => {$('iframe.methodology')
        .attr('width', this.getVWinPx(80))
        .attr('height', this.getVHinPx(70))
      })
      $('div.component.methodology').parent().css("overflow", "hidden")
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/cmst495.scss';

  .numbering-wrapper {
    display: flex;
    align-self: center;
    position: relative;
  }

  .component {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        &:not(.numbering-wrapper) {
          padding-left: 1vw;
          padding-right: 1vw;
        }
      }
    }
  }

  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  h2 {
    font-size: 5vw;
    margin-bottom: 1vw;
  }
</style>