<template lang="pug">
  div.component
    h2 Introduction
    section.body
      p.text I started in web tech in the late 1990s as a back-end programmer. I continued in other roles in web technology companies. From web development to system administration, to web design and development. From there I explored visual art, mostly landscape and figure work. I worked with artists from Buenos Aires to Georgia. Now I work across the stack, from front to back. I develop apps for mobile devices as well. In my work I hope you see a degree of artistry, as well as a solid code base. Above all though, I hope my samples show great user experiences.
      img#id(alt="photo" src="https://xqwvew.by3301.livefilestore.com/y4muoZ_4yO2Pdj3CA1kvTcdY_lG0-iSvhDe6uesweHs4HtX5JJ-FC4a9HXQ8kxrnhSuICTt37JxYJVJpvXNxiOnlOjMv4Bt4VWj0pgg3Iu91dGDTaeF7MSgfmuyH0rOkmjKOCiI74-_U_pKBcNFpsWze1rInue1Ml8b6-gKzmiwB-07UrHcBb3Z7hyg06rhPM_mwwZxewE6CjQdNxUXyKUhhQ?width=1241&height=1741&cropmode=none")
</template>

<script>
</script>

<style lang="scss" scoped>
  div.component { 
    font-size: 2.25vw;
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  h2 { font-size: 2em }

  #id {
    max-height: 60vh;
    max-width: 49vw;
    object-fit: contain;
    align-self: flex-start; 
  }

  .body {
    display:flex;
  }
</style>
