<template lang="pug">
  div.component.article-architecture
    h2 component-based design, enterprise extensibility
    p A deep understanding of the pieces that compose good applications distinguishes my work from the crowd. Just as an engineer devotes a good portion of their education to understanding computational complexity, algorithms, and data structures, a good UI developer should understand design patterns such as: Model-View-Controller (MVC), Model-View-ViewModel (MVVM), Single Page Application frameworks (SPA), and Unidirectional data flow architecture. In my GitHub are sample work exercising many of these in practice, and as well samples from an investigation of SPA (below) and Flux (the epitomal unidirectional flow pattern). When combined with OOCSS/BEM in styles, html5 semantic tags for structure, and familiarity with data visualization, databases, and webAPIs (REST, graphQL/firebase, noSQL), these can solve complex, enterprise-level problems.
    div.optcolumn
      figure.sample
        div.preview-frame(v-if='!loadRequested' @click='() => loadRequested = !loadRequested')
          div.numbering-wrapper
            img.preview(src='https://camo.githubusercontent.com/a3299074d79654a17c0c3cbd95467c012a6ad507/687474703a2f2f696d6775722e636f6d2f5a3661557851552e706e67')
            div.sample-number.inverted 4
        vue-spinner(:visible='loadRequested && !loaded')
        div.sample.sample-frame(v-if='loadRequested')
          iframe#spa(src="//requirejs-spa.firebaseapp.com" @load='iframeLoaded')
        figcaption
          a.src(href="//github.com/robbiemu/spa") {{title}}
          | &nbsp;on {{location}}, {{date}}
      p.description {{description}}      
</template>

<script>
  import Spinner from '../spinner.vue'

  export default {
    data () {
      return {
        title: 'SPA',
        location: 'github',
        description: 'A single page app (SPA) framework based solely on requireJS. Actually there are two variants, the second one being the one based on the specification, using both requireJS and jQuery. This is a basic SPA framework, and was originally a sort of proof-of-concept. It supports routing, and some degree of templating (including 3 tags, spa-view, spa-insert, and spa-repeat, and a fourth spa-domain that limits the scope of processing). It provides a callback you can attach to after a page template cycle has completed. You can trigger templating on demand, and it runs once on load.',
        date: 'sept 2016',
        loaded: false,
        loadRequested: false
      }
    },
    methods: {
      getVHinPx (x) {
        return (x/100) * window.innerHeight
      },
      iframeLoaded () {
        let self = this
        let iframe = document.querySelector('div.component.article-architecture iframe')
        $(iframe).css('max-height', (($(iframe).width()*16)/9) + 'px')

        setTimeout(()=>self.loaded = true, 200)
      }
    },
    mounted () {
      this.$emit('style', { backgroundColor: '#221919' })
    },
    components: { 'vue-spinner': Spinner }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/cmst495.scss';

  .numbering-wrapper {
    position: relative
  }

  div.component.article-architecture {
    color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw; 
      }
    }
  }

  div.optcolumn {
    display: flex
  }

  @media only screen and (min-width : 992px) {
    div.optcolumn {
      border-top: solid thin white;
      & > * {
        max-width: 50%;
      }
    }

    p.description {
      padding-top: 1rem;
    }

    .numbering-wrapper {
      max-height: 100%;
      max-width: 100%;
      height: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
        flex: 1;
      }
    }

    figcaption {
      border-top: solid thin;
    }
  }

  @media only screen and (max-width : 992px) {
    div.optcolumn { 
      height: 100%;
      flex-direction: column;
    }
    .numbering-wrapper {
      flex: 1
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  h2 {
    font-size: 5.7vw;
    margin-bottom: 0;
    & + p {
      font-size: 1.65vw;
    }
  }

  img.preview {
    max-width: 33vw;
    cursor: pointer;
  }

  .preview-frame {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  #spa {
    width: 100%
  }

  figure {
    display: flex;
    flex-direction: column;
  }

  figcaption a {
    color: white
  }

  .sample {
    flex: 1;
    display: flex;
  }

  .sample-frame {
    width: 29vw;
    margin-left: auto;
    margin-right: auto
  }

  iframe {
    flex: 1
  }
</style>
