<template lang="pug">
  div.component.article-process
    h2 process
      span.subtitle preprocessing, testing, hosting
    p.text Highlighting factors in the process of web development, and devops / web adminstration experience.
    figure
      div.preview-frame(v-if='!loadRequested' @click='() => loadRequested = !loadRequested')
        div.numbering-wrapper
          img.preview(src='../../media/Capturar-nimbl3.jpg')
          div.sample-number 6
      vue-spinner(:visible='loadRequested && !loaded')
      div.sample.sample-frame(v-if='loadRequested')
        iframe(@load='iframeLoaded' src="//nimbl3-fedev.herokuapp.com") 
      figcaption a <a href="//github.com/robbiemu/nimbl3">code sample</a> written for application to a company, transforming inVision and PSD into pixel perfect design. Showcases a full build with webpack, e2e and karma/expect tests, vue, vuetify, firebase, bootstrap
    p.description For nimbl3 in Thailand, this test utilizes PSD and inVision wireframes. My goal was to build the back-end like a real project, and the front end enough to show the menu and the orders entry. The project is built with vue and has a simple node/koa backend. It has functional e2e and karma/expect testing tied to the node package.json. I has dummy sample data, randomly generated lorem ipsum data in both english and thai, and a custom searchbox feature in the results. It uses SCSS mixins as well as basic styling. It is a pixel-perfect rendering of the wireframes, done mostly in one weekend.
</template>

<script>
  import Spinner from '../spinner.vue'
  import { wrap } from '../../scripts/wrap'
  
  export default {
    data () {
      return {
        loaded: false,
        loadRequested: false
      }
    },
    mounted () {
      this.$emit('style', { backgroundColor: 'rgb(200,50,255)' })

      const wrapper = document.querySelector(
        'div.component.article-process .numbering-wrapper')
      const img = document.querySelector(
        'div.component.article-process .numbering-wrapper > img')
      $(img).on('load', () => wrap(wrapper, img))
      $(window).resize(() => wrap(wrapper, img))
    },
    methods: {
      iframeLoaded () {
        let self = this
        let iframe = document.querySelector('div.component.article-process iframe')
        setTimeout(()=>self.loaded = true, 200)
        $(iframe).css('max-height', (($(iframe).width()*16)/9) + 'px')
      }
    },
    components: { 'vue-spinner': Spinner }

  }
</script>

<style lang="scss" scoped>
  @import '../../styles/cmst495.scss';

  .numbering-wrapper {
    display: flex;
    position: relative
  }

  .component.article-process {
    height: 100%;
    color: white;
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
  }

  .subtitle {
    font-size: 1.05em;
    font-weight: 100;
    float: right;
    line-height: 0.9em;
  }

  h2 { 
    font-size: 5vw;
    margin-bottom: 1vw;
  }
  .text { font-size: 2vw; }

  .inset {
    padding: 0;
    margin: 0;
    max-width: 80vw;
    max-height: 80vh;
  }

  iframe {
    width: 80vw;
    height: 70vh;
  }

  div.component, figure, .preview-frame, .sample-frame {
    display: flex;
    flex-direction: column
  }
  figure, .preview-frame, img.preview, .sample-frame, iframe {
    flex: 1;
  }
  .preview-frame {
    align-items: center;
  }
  img.preview {
    object-fit: contain;
    max-width: 100%;
    cursor: pointer
  }
</style>
