<template lang="pug">
  div.component.article-mobile-responsive
    h2 Mobile-first/responsive design
    p In the previous section, I highlighted architecture/implementation choices that businesses may need. In this section, an approach is on display that is reflective of high volume or designee work: Mobile-first design.
    figure
      div.preview-frame(v-if='!loadRequested' @click='() => loadRequested = !loadRequested')
        div.numbering-wrapper
          img.preview(src='../../media/Capturar-CMST386-exercises.jpg')
          div.sample-number.inverted 5
      vue-spinner(:visible='loadRequested && !loaded')
      div.sample.sample-frame(v-if='loadRequested')
        iframe(@load='iframeLoaded' src="http://nova.umuc.edu/~ct386b08")
      figcaption Hands-on <a href="http://nova.umuc.edu/~ct386b08" target="_blank">exercises</a> for CMST 386, written with css3 and sass, html5, and javascript, working from mobile-first. Summer 2017
    p.description These pages are the exercise pages for my CMST386 class. All work is my own, particularly code and illustrative graphic, unless commented or credited otherwise. The pages are built on semantic html5, with css3 and javascript. Care was taken for strict validation, and also for accessibility. This webapp displays an attention to detail in using media queries for responsive design. Meaningful break points have been set to divvy up the viewspace for different mobile, tablet, and desktop experiences. The process of design was also mobile, first, using the mobile experience as a tree onto which more elaborate page renders could be affixed at different break-points.
</template>

<script>
  import Spinner from '../spinner.vue'
  import { wrap } from '../../scripts/wrap'

  export default {
    data () {
      return {
        loaded: false,
        loadRequested: false
      }
    },
    mounted () {
      this.$emit('style', { backgroundColor: '#ee88aa' })

/* we're using flexbox for layout, which can have issue when scaling to inner
content. See wrap.js in this project for link to a detailed stackoverflow with
minimum verifiable example. (we could use css:grid, but that is still in the
tail-end of a state of flux. next year, css:grid will probably be standard.) */

      const wrapper = document.querySelector(
        'div.component.article-mobile-responsive .numbering-wrapper')
      const img = document.querySelector(
        'div.component.article-mobile-responsive .numbering-wrapper > img')

      $(img).on('load', () => wrap(wrapper, img))
      $(window).resize(() => wrap(wrapper, img))

      setTimeout(()=>wrap(wrapper, img), 250) /* wrapper should be set to go 
        with img load - but for some reason, in some rare cases it is bounding 
        to a positive but wrong (small) size. So, just to be clear, let's give 
        it another go. In an ideal world, once img.load occurred, I could rely 
        on it to have a size. */
    },
    methods: {
      iframeLoaded () {
        let self = this
        let iframe = document
          .querySelector('div.component.article-mobile-responsive iframe')
        setTimeout(()=>self.loaded = true, 200)
        $(iframe).css('max-height', (($(iframe).width()*16)/9) + 'px')
      }
    },
    components: {
      'vue-spinner': Spinner
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/cmst495.scss';

  .numbering-wrapper {
    display: flex;
    position: relative;
  }

  .sample-number.inverted {
    mix-blend-mode: initial;
  }

  @media only screen and (min-width : 992px) {
    .component > :not(h2) {
      max-width: 98vw;
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }

  div.component:not(.spinner) {
    height: 100%;
    color: white;
  }

  div.component, figure, .preview-frame, .sample-frame {
    display: flex;
    flex-direction: column
  }
  figure, .preview-frame, img.preview, .numbering-wrapper, .sample-frame, iframe {
    flex: 1;
  }
  .preview-frame {
    align-items: center;
  }
  img.preview {
    cursor: pointer;
    object-fit: contain;
    max-width: 100%;
  }

  h2 {
    font-size: 9vw;
    margin-bottom: 1vw;
  }

  h2 + p {
    font-size: 1.6vw;
  }

  figure {
    margin-left: 0;
  }

  figcaption a {
    color: black
  }

  iframe {
    flex:1;
  }

  div.component, figure, .preview-frame, .sample-frame {
    display: flex;
    flex-direction: column
  }
  figure, .preview-frame, img.preview, .sample-frame, iframe {
    flex: 1;
  }
  .preview-frame {
    align-items: center;
  }
  img.preview {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer
  }
</style>
