<template lang="pug">
  div.component.article-design-with-clean-code
    h2 {{title}}
    p User interfaces should be intuitive. The structure of the code should as well. CSS should follow a BEM-like syntax. JavaScript, wherever possible, should be compartmentalized and commented. HTML should be semantic and meaningful, never with a bunch of excess divs.
    h3 
      a(href="https://codepen.io/robertotomas/pen/PbyJOK/") Ain't No Sunshine When She's Gone
      | &nbsp;on CodePen, Dec 2016
    p.textual Using the WeatherUnderground API, this demo app shows your current local forecast. The code makes use of Sass (SCSS), public domain inline SVGs, JQuery. The JavaScript comments clearly demonstrate purpose an indicate direction in some trickier to read sections. The Sass preprocessing includes color variables for a proper style specification. The html is typical html5. A highlight is the custom use of JQuery's promise implementation. A second highlight is the simple use of location data. An application splash is visible when clicking on the title, above the organization's icon. Simple transitions present timely information without distraction. Attention to design choices, such as color, and fitting this with the available weather icons, were a concern.
    div.preview-frame(v-if='!loadRequested' @click='loadCodePen')
      div.numbering-wrapper
        img.preview(@mouseover='mouseOver' src="../../media/Capturar-aint-no-sunshine-when-shes-gone.PNG")
        div.sample-number 1
    vue-spinner(:visible='loadRequested && !loaded')
    <p v-if="loadRequested" :data-height="viewportHeight()" data-theme-id="0" data-slug-hash="PbyJOK" data-default-tab="js,result" data-user="robertotomas" data-embed-version="2" data-pen-title="Ain't No Sunshine When She's Gone" class="codepen">See the Pen <a href="https://codepen.io/robertotomas/pen/PbyJOK/">Ain't No Sunshine When She's Gone</a> by Robert Collins (<a href="https://codepen.io/robertotomas">@robertotomas</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</template>

<script>
  import Spinner from '../spinner.vue'

export default {
    data () { 
      return {
        loaded: false,
        loadRequested: false,
        title:"Design that just makes sense, with clean and legible code underneath", 
        inset: `a`,
        mouseOverCount: 0
      }
    },
    methods: {
      viewportHeight: () => $(window).height() * 0.68,
      loadCodePen () {
        this.loadRequested = !this.loadRequested
        setTimeout(() => __cp_domReady(function() { // eijs from codepen
          new __CPEmbed
        }), 100)
      },
      mouseOver () {
        const el = document.querySelector('.preview')
        this.mouseOverCount++? el.classList.add('hovered'): null
        event.preventDefault();
      }
    },
    mounted () {
      this.$emit('style', { backgroundColor: '#aabbcc' })

      $('.component.article-design-with-clean-code').parent().addClass('article-design-with-clean-code')

      /* set loaded 'watcher' */
      let self = this

      // select the target node
      var target = document.querySelector('article.component.article-design-with-clean-code')
 
      // create an observer instance
      var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
          const iframe = document
            .querySelector('div.component.article-design-with-clean-code iframe')
          if(!iframe)
            return
          iframe.addEventListener("load", function() {
            setTimeout(()=>self.loaded = true, 200)
            $('div.component.article-design-with-clean-code > div').css({
              'max-width': '80vw'
            })
            $(iframe).css('max-height', '64vh')
          });

          // later, you can stop observing
          observer.disconnect();
        });    
      });
 
      // configuration of the observer:
      var config = { attributes: true, childList: true, characterData: true };
 
      // pass in the target node, as well as the observer options
      observer.observe(target, config);
    },
    components: {'vue-spinner': Spinner}
  }
</script>

<style lang="scss" scoped>
  @import '../../styles/shake.scss';
  @import '../../styles/cmst495.scss';

  .preview-frame {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .numbering-wrapper {
    position: relative
  }

  h2 {
    font-size: 4.18vw;
    margin-bottom: 1vw;
  }

  p:not(.textual) {
    font-size: 1.65vw;
  }

  .preview {
    max-width: 80vw;
    max-height: 64vh;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    cursor: pointer;

    &:not(.hovered) {
      @include shake; /* attention animation */
    }
  }

  div.component.article-design-with-clean-code {
    @media only screen and (min-width : 992px) {
      & > :not(h2) {
        max-width: 98vw;
        padding-left: 1vw;
        padding-right: 1vw;
      }
    }
    div {
      max-width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
<style lang="scss">
/* document-level non-scoped */
  article.article-design-with-clean-code {
    max-height: initial !important;
    height: initial !important;
    padding-bottom: 4.5rem;
  }
</style>