<!-- basic template to make new articles from -->
<template lang="pug">
  div.component
    h2 
      span.subtitle 
    p 
    div.inset
</template>

<script>
  export default {
    mounted () {
      this.$emit('style', { backgroundColor: '#ffffff' })
    }
  }
</script>

<style lang="scss" scoped>
  .subtitle {
    font-size: 1.2em;
    font-weight: 100;
    float: right;
  }

  .inset, .inset > * {
    padding: 0;
    margin: 0;
    max-width: 80vw;
    max-height: 80vh;
  }
</style>
